
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/* step-1- keep margin,padding =0and box-sizing  */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
    /* ye ni th- */
    
  

}
html{

    /* 1rem=10px */
    font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6,#start,#stop,#clear,#restart,#get{  font-family: "Poppins", sans-serif;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
body{  padding: 5rem 5rem;
background-color:rgba(255, 255, 203,0.5); ;

  
   }
    .grid2{
    /* max-width: 90%; */
    max-height: 90%;
        
        padding: 5rem 5rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
       
        color: beige;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
      column-gap: 10rem;
      row-gap: 3rem;
    }
    .container{
        overflow-y: auto; 
        max-height: 90%;
        border-radius: 2rem;
            width: 40rem;
            min-height: 50rem;
            background-image:linear-gradient(rgb(146, 60, 226,0.8),rgba(248, 158, 158,0.8));
            /* background-color: rgba(248, 158, 158,0.8); */
            padding: 5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          
          
     
    } 
   h2{ letter-spacing: 0.5REM;
 width: 12rem;
        text-align: center;
       /* display: inline; */
        color: brown;
      margin-left: 9rem;
        background-color: antiquewhite;
        box-shadow: 0 0.2rem 0.4rem rgba(244, 241, 241,0.3);
    }
p{   letter-spacing: .1REM;
    word-spacing: .2REM;
    color: antiquewhite;
    color: brown;
    font-size: 1.2rem;
    /* margin-left: 1rem;  */
    text-transform: capitalize;
    font-weight: 700;
}
#start,#stop,#restart,#get,#clear{
        box-shadow: 0 0.2rem 0.4rem rgba(244, 241, 241,0.3);
    font-size: 1.5rem;
    text-transform: capitalize;
    background-color:antiquewhite;
    color: brown; 
    border: 0.2rem solid antiquewhite;
    border-radius: 2rem;

    font-size: 1.2rem;
    width: 8rem;
    letter-spacing: .1REM;
    word-spacing: .2REM;
    font-weight: 700;
}
#start:hover,#stop:hover,#restart:hover,#get:hover,#clear:hover{
    color: antiquewhite; 
    background-color:brown;
    border: 0.2rem solid brown;
}
@media(width<420px){
    .container{
        
            width: 30rem;
            min-height: 50rem;
     
    } 
    h2{
        margin-left: 4rem;
    }.grid2{
        grid-column-gap: 2.5rem;
    }
}
@media(width<320px){
    .container{
        
            width: 25rem;
            min-height: 50rem;
     
    } 
    h2{
        margin-left: 2rem;
    }
    .grid2{
        grid-column-gap: 1.5rem;
    }
}
@media(width<270px){
    .container{
        
            width: 21rem;
            min-height: 50rem;
     
    } 
    h2{
        margin-left: -0.3rem;
    }
    .grid2{
        /* display: grid;
        grid-template-columns: repeat(1,1fr); */
/* grid-column: auto; */
    }
    p{   letter-spacing: .1REM;
        /* word-spacing: .2REM; */
        color: antiquewhite;
        color: brown;
        font-size: 1rem;
        /* margin-left: 1rem;  */
        text-transform: capitalize;
        font-weight: 500;
    }
    
#start,#stop,#restart,#get,#clear{
    
font-size: 1rem;



font-size: 1.2rem;
width: 8rem;
letter-spacing: .1REM;
word-spacing: .2REM;
font-weight: 700;
}

}